/* Message style */
.message-header.row h2 {
    font-size: 2rem;
    font-weight: 800;
    padding-top: 20px;
    padding-left: 20px;
  }
  .message-header.row img {
    height: 26px;
    width: 39px;
  }
  .mid-section.col-sm-4{
    border-right: .1rem solid #f3f5f6;
    border-left: .1rem solid #f3f5f6;
  }
  .message-header.row {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    border-bottom: .1rem solid #f3f5f6;
  }
  .message-section.container {
    padding: 0;
  }
  .message-section.col-sm-4 {
    border-right: .1rem solid #f3f5f6;
    border-left: .1rem solid #f3f5f6;
    padding: 0;
  }
  .message {
    margin: 30px;
    display: flex;
  }
  .message-date.col-2 {
    display: flex;
    flex-direction: row-reverse;
  }
  article.message {
    margin: 0;
    padding-top: 10px;
    font-size: 1.2rem;
    width: 300px;
  }
  .recepient-photo.col-2 img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
  }
  .recipient-details.row {
    display: flex;
    justify-items: legacy;
  }
  .right-section.col-sm-5 {
    padding: 0px;
  }
  .messages-chat.row {
    padding: 20px;
    background: #d0defb;
    margin: 20px;
    height: 45vh;
    border-radius: 10px;
  }
  .recipient-name.col {
    padding: 20px;
  }
  .chat-input textarea {
    width: 500px;
    height: 50px;
  }
  .chat-input {
    padding: 20px;
  }
  .message-search-bar {
    padding: 5px;
  }
  .message-search-engine.row {
    margin-bottom: 30px;
  }
  .message-search-bar img {
    height: 20px;
  }
  .message-search-bar input {
    height: 50px;
    border-radius: 20px;
    width: 69%;
    text-align: center;
    font-size: 1.5rem;
  }
  .message-search-engine.row {
    padding: 10px;
  }
  .messages-list {
    padding: 5px;
    border-bottom: .1rem solid #f3f5f6;
    border-top: .1rem solid #f3f5f6;
    transition: background-color 0.5s;
  }
  .messages-list:hover {
    background-color: #d0defb;
  }
  .n-msg-wrapper {
    padding-left: 25%;
  }
  .no-msg-container {
    margin-top: 50%;
  }
  .n-msg-wrapper p {
    font-size: 1.2rem;
  }
  .n-msg-wrapper a {
    margin-left: 15%;
  }
  .message-header.container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: .1rem solid #fafbfb;
  }
  .m-icon-wrapper img {
    height: 20px;
  }
  .s-icon svg {
    height: 100%;
    width: 100%;
  }
  .s-icon {
    height: 20px;
    width: 20px;
    margin: 1rem;
  }
  .s-wrapper {
    display: flex;
    padding: 10px;
    border-bottom: .1rem solid #eaecef;
  }
  .s-bar {
    margin-left: 20px;
    width: 100%;
  }
  input.s-user {
    flex: 1;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    width: 100%;
  }
  .profile-user-wrapper {
    width: 20px;
    height: 20px;
  }
  .h-ment{
      padding: 1.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: rgb(15,20,15);
      border-bottom: .1rem solid rgb(235.238,240);
      cursor: pointer;
  }
  .hash-box li:hover div.h-ment{
      background-color: rgb(247,249,250);
  }
  .ment-w-container{
      display: flex;
      flex-direction: column;
  
  }
  .profile-user-icon{
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
  }
  .p-icon{
      color: rgb(19,112,131);
  }
  .f-follow{
      margin-left: 1rem;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 2px;
  }
  .ment-profile-wrapper{
      display: flex;
      align-items: center;
  }
  .ment-profile-pic{
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      box-shadow: rgb(0 0 0 /2%) 0px 0px 2px inset;
  }
  .ment-profile-pic img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px;
      border: .1rem solid rgba(0,0,0,0.04);
      background-color: rgba(26,26,26,0.15);
  }
  .ment-user-fullName-text{
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5;
      color: rgb(15,20,25);
  }
  .ment-user-username-text{
      font-size: 1.5rem;
      font-weight: 400;
      color: rgb(91,112,131);
  }
  .s-result-user:hover {
    background-color: #d0defb;
  }
  
  .modal-content.message {
      height: 60vh;
  }
  /* Recent message */
  .ms-user-photo {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
}
.ms-user-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
li.msg-user-name-wrap{
  padding: 1rem;
  border-bottom: .1rem solid #f5f7f7;
  cursor: pointer;
}
.msg-user-new{
  flex: 1;
}
.msg-user-name {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-bottom: 1rem;
}
.msg-user-name h3{
margin-right: 1rem;
font-size: 1.5rem;
font-weight: 700;
overflow-wrap: anywhere;
}
span.user-text{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(91,112,131);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  overflow-wrap: anywhere;
}
.msg-previ{
  text-overflow: ellipsis;
}
.msg-user-add:hover{
  background-color: #d0defb;
}
.msg-user-name-wrapper {
  padding: 1rem;
  border-bottom: .1rem solid #f5f7f7;
  display: flex;
  flex: 1;
}
.msg-user-name-wrap{
  display: flex;
  align-items: center;
}
.msg-user-name-text {
  flex: 1;
  display: flex;
}
li.msg-user-name-wrap.activeClass {
  border-right: .2rem solid #d0defb;
}
/* CHAT MESSAGES */
section.chatMessageContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-header-top{
  border-bottom: .1rem solid #e8e8e8;
  padding: 20px;
}
.chat-header-image-wrapper{
  display: block;
  width: 5rem;
  height: 5rem;
}
.chat-header-image-wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.chat-header-left {
  display: flex;
  align-items: start;
  flex: 1;
  justify-content: center;
}
.chat-header-name-wrapper {
  margin-left: 15px;
}
.chat-header-name-wrapper h3 {
  font-size: 1.3rem;
  font-weight: 800;
}
/* CHAT CONTAINER */
#sendMsgBtn svg {
  width: 20px;
  height:20px;
}
.chatPageContainer {
  flex: 1;
}
.msg-details {
  height: 70vh;
  display: flex;
  flex: 1;
  overflow-x: hidden ;
  overflow-y: auto;
  flex-direction: column;
}
.chat-footer {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-top: .1rem solid #e8e8e8;
}
textarea#sendMsgBtn {
  flex: -moz-available;
  height: 4rem;
}
.msg-show-wrap{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.msg-empty-space{
  pad: 2rem 0;
}
.msg-box{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right-sender-msg{
  width: 100%;
  padding-right: 2rem;
  padding-top: 2rem;
}
.right-sender-text-time{
  display: flex;
  justify-content:center ;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 0.3rem;
}
.right-sender-text-wrapper{
  word-break:break-all;
  display: flex;
  line-height: 1.5rem;
  justify-content: flex-end;
  max-width: 100%;
  width: 341px;
}
.s-text{
  background-color:#5f91f2 ;
  max-width: 100%;
  height: 100%;
  font-weight: 400;
  color: #fff;
  line-height: 1.3125;
  cursor: pointer;
  border-radius: 16px;
  border: 0.1rem solid #d0defb;
  padding: 1rem 1.5rem;
  border-bottom-right-radius: 0px;
  overflow: hidden;
}
.s-msg-text{
  line-height: 1.5;
  overflow-wrap: break-word ;
}
.sender-time{
  margin: 0;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: calc(19.6785px);
}
.left-receiver-msg{
  display: flex;
  width: 100%;
  padding: 1rem;
}
.receiver-msg{
  width: 3.9rem;
  height: 3.9rem;
  display: block;
  margin-right: 0.9rem;
}
.reciver-img img{
  width: 100%;
  height: 100%;
  border-right: 50px;
  background-color: rgb(26,26,26);
}
.receiver-text-time{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0.3rem;
}
.left-receiver-text-wrapper{
  word-break:break-all;
  display: flex;
  line-height: 1.5rem;
  justify-content: flex-start;
  max-width: 100%;
  width: 341px;
}
.r-text{
  background-color:rgb(235,238,240) ;
  max-width: 100%;
  height: 100%;
  font-weight: 400;
  color:rgb(15,20,25);
  line-height: 1.3125;
  cursor: default;
  border-radius: 16px;
  border: 0.1rem solid #d0defb;
  padding: 1rem 1.5rem;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}
a.receive-msg img {
  height: 100%;
  border-radius: 50px;
  width: 100%;
}
a.receive-msg {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem ;
}
.r-msg-text{
  overflow-wrap: break-word;
  line-height: 1.5;
}