/*************************************************
1. Universal styles(typography,etc)
2. Main Section Style
3. Left Section
4. Right Section
5. Footer
***************************************************/

/*************************************************
1. Universal styles
*************************************************/
*{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif !important;
  list-style: none !important;
}

html,body{
  height: 100%;
  width: 100%;
}
 
html{
  font-size: 62.5% !important;
}

a{
  text-decoration: none !important;
}

button{
  background-color: #5f91f2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
}
.Button{
  background-color: #5f91f2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
}
button:hover{
  background-color: #427cf0;
}
/* Index styles */
/* Left Index */
.left-index.col-sm {
  background: #5f91f2;
  /*! height:100vh; */
  
}
.left-heading.col {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.left-index-content.row img {
  height: 50vh;
  /*! margin-top: 40px; */
  border-radius: 50px;
}
.left-index-content.row {
  padding: 100px;
  height: 100vh;
}
.left-heading.col h2 {
font-size: 3rem;
font-weight: 700;
/*! padding-bottom: ; */
}

/* Right Index */
.right-index-icon.col img {
width: 60px;
height: 60px;
margin-bottom: 15px;
}
.right-index-content.row {
  display: flex;
  justify-content: center;
  padding: 200px 200px 200px;
} 
.right-index-btn.row {
  display: flex;
  justify-content: center;
}
.heading.row h1 {
  font-size: 4.5rem;
  font-weight: 800;
}
.paragraph p {
  font-size: 3rem;
}
.sign-up-btn.row button {
  background-color: #5f91f2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
}
.sign-up-btn.row button:hover{
  background-color: #427cf0;
}
.log-in-btn.row a {
  background-color: #fff;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  border: .1rem solid #5f91f2;
  transition: background-color 0.5s;
}
.log-in-btn.row a:hover{
   background-color: #d0defb;
}
.sign-up-btn.row {
  padding-bottom: 10px;
}
.paragraph {
  padding-bottom: 20px;
}

/* signup Modal */
.signup-modal-icon {
  height: 40px;
  width: 40px;
}
.modal-content.signup {
  height: 90vh;
}
.modal-icon {
  padding-left: 45%;
}
.signupForm label {
  font-size: 2rem;
}
#signupModalLabel {
  font-size: 2rem;
}
.signup.modal-body {
  padding: 30px;
}
.signupForm input {
height: 30px;
border-radius: 5px;
font-size: 1.5rem;
}
.signup.modal-footer {
  display: flex;
  justify-content: space-around;
}
.signup-cancel {
  background-color: #e60000;
  transition: background-color 0.5s;
}
.signup-cancel:hover{
  background-color:  #cc0000;
}
span.errorMessage {
display: block;
color: red;
font-size: 1.5rem;
font-weight: 600;
margin-bottom: 1.3rem;
}

/* Login style */

.login-form-content.row {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.login-header.row h2 {
  align-items: center;
}
.login-header.row h2 {
  font-size: 3rem;
}
.loginForm label {
  font-size: 2rem;
}
.login-icon.row img {
  height: 60px;
  width: 60px;
  padding-bottom: 15px;
}
.login.col-sm {
  padding-left: 35%;
  padding-right: 35%;
}
.loginForm input {
  height: 5rem;
  border-radius: 30px;
  font-size: 1.5rem;
}
.log-in-btn.row {
  padding-top: 2rem;
}
.login-footer.row {
  display: flex;
  justify-content: center;
}
.login-footer {
display: flex;
justify-content: space-evenly;
padding-top: 5px;
font-size: 1.5rem;
}
/* NAVBAR */
.nav-bar.container.row {
position: fixed;
/*! width: 100px; */
}
.nav-bar.row {
max-width: 300px;
}
.nav-bar-icon.row {
  width: 20%;
  border-radius: 30px;
}
.nav-bar-icon.row:hover {
  background-color: #d0defb;
}
.nav-bar-icon.row img {
  height: 60px;
  width: 60px;
}

.nav-bar-section.col-sm-3 {
  padding: 15px;
}
.sidenav {
display: flex;
flex-direction: column;
margin-top: 15px;
margin-bottom: 30px;
}
.nav-icon img {
  height: 20px;
  margin-right: 20px;
}
.sidenav a {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s;
  border-radius: 30px;
}
.sidenav a:hover {
  background-color: #d0defb;
}
.nav-title {
  font-size: 1.5rem;
  color: black;
}
.active span.nav-title {
  color: #5f91f2;
}
.user-photo.col {
  flex: 0 0 auto;
  width: 25%;
}
.user-photo.col img {
  height: 60px;
  width: 60px;
  border-radius: 70px;
}
.nav-bar-user-info.row {
  padding: 5px;
  transition: background-color 0.3s;
  border-radius: 30px;
}
.nav-bar-user-info.row:hover {
  background-color: #d0defb;
}

.user-name-username.col {
  margin-left: 20px;
}
.user-name.row {
  font-size: 1.6rem;
  font-weight: 600;
}
.user-username.row {
  font-size: 1.5rem;
  font-weight: 300;
}
/* LEFT SECTION */
.search-bar img {
  height: 20px;
}
.speaker-icon img {
  height: 20px;
}
.right-section.col-sm-3 {
  padding: 15px;
}
.right-section.container {
  margin: 20px;
      margin-left: 20px;
  margin-left: 15px;
  position: fixed;
  max-width: 350px;
}
.search-engine.row {
  margin-bottom: 30px;
}
.search-bar input {
  height: 50px;
  border-radius: 20px;
  width: 69%;
  text-align: center;
  font-size: 1.5rem;
}
.announcement-header.container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.right-section-announcement.row {
  padding-right: 30px;
}
.announcement-header.container .header {
  margin-right: 20px;
  font-size: 2rem;
  font-weight: 800;
}
.annoucement-post.container {
  height: 30vh;
  background-color: #d0defb;
  border-radius: 30px;
  margin-bottom: 15px;
}
.event-header {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 15px;
}
.event-post.container {
  height: 30vh;
  background-color: #d0defb;
  border-radius: 30px;
}
.right-section-event.row {
  padding-right: 30px;
}
.announcement-post-content {
  padding: 10px;
}
.event-post-content {
  padding: 10px;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 0.5rem gray;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
}
/* Verification style */
.jumbotron.text-center {
height: 17em;
}

input.form-control.col-md-6 {
width: 50%;
margin-right: 1em;
display: inline;
}

div#notes {
margin-top: 2%;
width: 98%;
margin-left: 1%;
}

@media (min-width: 991px) {
.col-md-9.col-sm-12 {
  margin-left: 12%;
}
}

/* Delete post */
.d-image svg {
height: 20px;
fill: #fff;
}
.modal-body.delete {
font-size: 1.5rem;
}
.modal-header.delete h5 {
font-size: 1.5rem;
}
.modal-footer.delete button {
font-size: 1.5rem;
}
#delete-post-btn:hover {
background-color: #c00;
}
